{% extends 'layout.html' %}

{% block title %}
    Playlistimate
{% endblock %}

{% block content %}
    {% if result %}
        {% if result.success is eq(True) %}
            <div class="alert alert-success" role="alert">
                Playlist successfully created!
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Playlist was not create succesfully, try again
            </div>
        {% endif %}
    {% endif %}
        <div class="container d-flex vh-100">
            <div class="col align-self-center justify-content-center ml-auto mr-auto" style="max-width:32em; margin-bottom: 35%;">
                <h1 class="text-center">
                    Spotify Playlist Generator
                </h1>
                <p style="width: auto; text-align: justify">
                    Generate spotify playlists using a reddit comment thread! This tool will find all the spotify
                    track links in the thread and combine them all into a spotify playlist.
                </p>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="input-group mr-auto ml-auto mt-3" style="width: auto;">
                        <input type="text" class="form-control" name="url" placeholder="Reddit comment thread URL">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-primary">
                                Generate Playlist
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
